*
!/.gitignore
!/.github/
!/.github/ISSUE_TEMPLATE/
!/.github/ISSUE_TEMPLATE/bug_report.yml
!/.github/ISSUE_TEMPLATE/config.yml
!/.github/ISSUE_TEMPLATE/feature_request.yml
!/.github/workflows/
!/.github/workflows/Lint.yml
!/.github/workflows/keepalive.yml
!/.env.example
!/admin.html
!/index.html
!/schema.sql
!/LICENSE
!/README.md
!/README.zh.md
!/CHANGELOG.md
!/CONTRIBUTING.md
!/Database.md
!/Roadmap.md
!/css/
!/css/admin.css
!/css/main.css
!/js/
!/js/admin.js
!/js/bubbles.js
!/js/config.js
!/js/i18n.js
!/js/main.js
!/js/supabase.js
!/js/theme.js
!/js/visitor.js
!/i18n/
!/i18n/en.json
!/i18n/kr.json
!/i18n/zh.json
!/functions/
!/functions/api/
!/functions/api/admin.js
!/functions/api/auth.js
!/functions/api/config.js
!/functions/api/keepalive.js
!/functions/api/message.js
!/functions/api/visitor.js
!/docs/
!/docs/api.md
!/docs/architecture.md
!/docs/database.md
!/docs/roadmap.md
